/* BASE, GENERAL */

body {
    font-family: 'Noto Sans', sans-serif;
}

.sidenav li>a {
    color: #81C784;
}

.brand-logo {
    font-family: 'Bad Script', cursive;
}

.select-wrapper .caret {
    fill: white;
}

.select-wrapper input.select-dropdown {
    color: white;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #81C784;
}

/* Short navbar wrapper fix, https://github.com/Dogfalo/materialize/issues/1000 */

@media only screen and (max-width : 992px) {
    nav .brand-logo {
        position: relative;
        display: block;
        text-align: center;
    }
}

.no-mb {
    margin-bottom: 0px;
}

/* INDEX */

.sign-up-button {
    margin-top: 1px;
}

.bad-script {
    font-family: 'Bad Script', cursive;
}

/* Hero-image width solution from Stack Overflow */

.hero-image {
    background-image: url("/static/images/hero-image1.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.callout {
    margin-top: 10rem;
    background: orange;
}

.orange-heading {
    color: orange;
    font-family: 'Bad Script', cursive;
}

.category-cards-text {
    background-color: orange;
    font-family: 'Bad Script', cursive;
    line-height: 150%;
    border-radius: 0.5rem;
}

.all-recipes-card {
    background-image: url("/static/images/all-recipes-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 15rem;
}

.breakfast-card {
    background-image: url("/static/images/breakfast-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 15rem;
}

.brunch-card {
    background-image: url("/static/images/brunch-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 15rem;
}

.lunch-card {
    background-image: url("/static/images/lunch-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 15rem;
}

.main-card {
    background-image: url("/static/images/main-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 15rem;
}

.dessert-card {
    background-image: url("/static/images/dessert-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 15rem;
}

/* RECIPE CARDS */


.added-by-text {
    color: orange;
    font-family: 'Bad Script', cursive;
    font-size: 16px;
}

.card.large {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-description {
    font-size: 12.5px;
}

.card .card-image img {
    height: 20rem;
}

/* INDIVIDUAL RECIPE PAGES */

.recipe-image-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.recipe-image {
    height: auto;
    width: 90%;
    overflow: hidden;
    display: block;
}

@media only screen and (max-width: 600px) {
    .ingredients-heading {
        text-align: center;
    }
}

.sca-text {
    font-size: 2rem;
    color: orange;
    font-family: 'Bad Script', cursive;
}

/* PROFILE */

a {
    color: orange;
}

.profile-name {
    margin-top: 15px;
}


/* ADD, EDIT RECIPE */

.add-edit-recipe-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Input & label color change solution from Stack Overflow */

  /* Inactive/Active Default input field color */
    .input-field input[type]:not([readonly]),
    .input-field input[type]:focus:not([readonly]),
    .input-field textarea:not([readonly]),
    .input-field textarea:focus:not([readonly]) {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0 0 #fff;
    }

    /* Inactive/Active Default input label color */
    .input-field input[type]:focus:not([readonly])+label,
    .input-field textarea:focus:not([readonly])+label {
        color: #fff;
    }

    /* Active/Inactive Invalid input field colors */
    .input-field input[type].invalid,
    .input-field input[type].invalid:focus,
    .input-field textarea.invalid,
    .input-field textarea.invalid:focus {
        border-bottom: 1px solid #e57373;
        box-shadow: 0 1px 0 0 #e57373;
    }

    /* Active/Inactive Invalid input label color */
    .input-field input[type].invalid:focus+label,
    .input-field input[type].invalid~.helper-text::after,
    .input-field input[type].invalid:focus~.helper-text::after, 
    .input-field textarea.invalid:focus+label,
    .input-field textarea.invalid~.helper-text::after,
    .input-field textarea.invalid:focus~.helper-text::after {
        color: #e57373;
    }

    /* Active/Inactive Valid input field color */
    .input-field input[type].valid,
    .input-field input[type].valid:focus,
    .input-field textarea.valid,
    .input-field textarea.valid:focus {
        border-bottom: 1px solid #26a69a;
        box-shadow: 0 1px 0 0 #26a69a;
    }

    /* Active/Inactive Valid input label color */
    .input-field input[type].valid:focus+label,
    .input-field input[type].valid~.helper-text::after,
    .input-field input[type].valid:focus~.helper-text::after,
    .input-field textarea.valid:focus+label,
    .input-field textarea.valid~.helper-text::after,
    .input-field textarea.valid:focus~.helper-text::after {
        color: #26a69a;
    }

/* FOOTER */

/* Materialize css to ensure footer stays at bottom of page */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
}

li a i {
    font-size: 20px;
}

footer {
    margin-top: 30px;
}

/* Converting social links list to inline in Materialize, solution from Stack Overflow */

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* SIGNUP */

.rounded-element {
    border-radius: .5rem;
}
