{% extends "base.html" %}
{% block content %}

<div class="hero-image">
    <div class="container">
        <div class="row callout rounded-element valign-wrapper">
            <div class="col s10 offset-s2 m8 offset-m2 l6 offset-l3 center-align">
                The index page
                <a href="{{ url_for('all_recipes') }}">All recipes</a>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h3 class="choose-category">Choose a category!</h3>
    </div>
</div>

<div class="container">

<div class="row">

  <div class="row center">
    <div class="col s12 m6">
      <div class="card-panel breakfast-card rounded-element valign-wrapper">
        <span class="white-text center-align">Breakfast</span>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card-panel brunch-card rounded-element">
        <span class="white-text">Brunch</span>
      </div>
    </div>

  </div>
</div>
</div>

{% endblock %}