{% extends "base.html" %}
{% block content %}

<div class="hero-image">
    <div class="container">
        <div class="row callout rounded-element valign-wrapper">
            <div class="col s10 offset-s2 m8 offset-m2 l6 offset-l3 center-align">
                The index page
                <a href="{{ url_for('all_recipes') }}">All recipes</a>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h3 class="orange-heading">Choose a category!</h3>
    </div>
</div>

<div class="container">


    <div class="row">
        <div class="col s12 m6">
            <a href="{{ url_for('recipes_by_category', category='Breakfast') }}">
            <div class="card-panel breakfast-card rounded-element">
                <h4 class="center-align white-text category-cards-text">Breakfast</h4>
            </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="{{ url_for('recipes_by_category', category='Brunch') }}">
            <div class="card-panel brunch-card rounded-element">
                <h4 class="center-align white-text category-cards-text">Brunch</h4>
            </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="{{ url_for('recipes_by_category', category='Lunch') }}">
            <div class="card-panel lunch-card rounded-element">
                <h4 class="center-align white-text category-cards-text">Lunch</h4>
            </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="{{ url_for('recipes_by_category', category='Main') }}">
            <div class="card-panel main-card rounded-element">
                <h4 class="center-align white-text category-cards-text">Main</h4>
            </div>
            </a>
        </div>

        <div class="col s12 m6 offset-m3 l6 offset-l3">
            <a href="{{ url_for('recipes_by_category', category='Dessert') }}">
            <div class="card-panel dessert-card rounded-element">
                <h4 class="center-align white-text category-cards-text">Dessert</h4>
            </div>
            </a>
        </div>

    </div>
</div>

{% endblock %}