{% extends "base.html" %}
{% block content %}

<main>

    <!--Profile page -->

    <div class="container profile-name">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel rounded-element green lighten-2">
                    <h4 class="center-align white-text">{{ username.capitalize() }}</h4>
                </div>
            </div>
        </div>

        {% if user_recipes.count() %}

        <div class="row">
            <div class="col s12">
                <h3 class="orange-heading center-align">My recipes</h3>
                <p class="center-align">Here you can view, edit or delete your own recipes.</p>
            </div>
        </div>

        {% else %}

        <div class="row">
            <div class="col s12">
                <h3 class="orange-heading center-align">No recipes yet!</h3>
                <p class="center-align">Your own recipes will show up here once you've added some. <a href="{{ url_for('new_recipe') }}">Why not start now?</a></p>
            </div>
        </div>

        {% endif %}

        {% for recipe in user_recipes %}

        <div class="row">
            <div class="col s12 m6">

                <div class="card large">
                    <div class="card-image rounded-element">
                        <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}"><img src="{{ recipe.recipe_image }}"
                                alt="Image"></a>
                        <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">
                            <h6 class="category-cards-text card-title">{{ recipe.recipe_name }}</h6>
                        </a>
                    </div>
                    <div class="card-content">
                        <p class="light-green-text"><b>{{ recipe.category_name }}</b></p>
                        <p class="card-description">{{ recipe.recipe_description }}</p>
                    </div>
                    <div class="card-action">
                        <span class="added-by-text"><b>Recipe by: {{ recipe.added_by.capitalize() }}</b></span>

                        <span><a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                class="waves-effect btn-small grey lighten-3 light-green-text rounded-element center-align">Edit</a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                class="waves-effect btn-small grey lighten-3 light-green-text rounded-element center-align">Delete</a></span>

                    </div>
                </div>
            </div>

        </div>
        {% endfor %}


    </div>
</main>

{% endblock %}