{% extends "base.html" %}

{% block content %}

<!-- All recipes -->

<main class="container">
    <h3 class="orange-heading center-align">All recipes</h3>
    {% for recipe in recipes %}
    <div class="row">
    <div class="col s12 m6">
      <div class="card large">
        <div class="card-image rounded-element">
          <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}"><img class="" src="{{ recipe.recipe_image }}" alt="Recipe image"></a>
          <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}"><h6 class="category-cards-text card-title">{{ recipe.recipe_name }}</h6></a>
        </div>
        <div class="card-content">
            <p class="light-green-text"><b>{{ recipe.category_name }}</b></p>

            <!-- If recipe description length is > 130, truncate it to prevent overflow in recipe card -->

            {% if recipe.recipe_description|length > 130 %}
            <p class="card-description">{{ recipe.recipe_description|truncate(130, True) }}</p>
            {% else %}
          <p class="card-description">{{ recipe.recipe_description }}</p>
          {% endif %}
        </div>
        <div class="card-action">
          <p class="added-by-text"><b>Recipe by: {{ recipe.added_by.capitalize() }}</b></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</main>

{% endblock %}